<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card text-center>
    <ion-card-title>Relpationtship</ion-card-title>
    <ion-card-subtitle>We will make your stay, better!</ion-card-subtitle>
    <ion-img
      margin
      src="https://images.pexels.com/photos/905874/pexels-photo-905874.jpeg?cs=srgb&dl=arms-care-check-905874.jpg&fm=jpg"
    ></ion-img>
    <ion-card-content>
      <h2>We wish you a great stay</h2>
    </ion-card-content>
  </ion-card>
  <p margin>
    In Relpationtship, we want to ease your stay in the department and make your
    relationship with the medical stuff, better.
  </p>
  <p margin>
    High quality personalized care is provided under the supervision of the best
    medical team here at the hospital.
  </p>
  <div text-center>
    <ion-button slot="" color="success">
      <ion-icon name="logo-whatsapp"></ion-icon>
      &nbsp;&nbsp;Reach us over WhatsApp
    </ion-button>
  </div>
</ion-content>
