<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Manager Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
  <ion-card-title text-center>Users List</ion-card-title>
  <ion-card-subtitle text-center>You can only edit patients by swiping</ion-card-subtitle>
  <br>
  <div *ngIf="(usersList$ | async) as list; else noUsers">
    <ion-list *ngFor="let user of list" lines="full">
      <ion-item-sliding #slidingItem>
        <ion-item text-wrap  lines="inset"
          ><ion-avatar
            ><ion-icon *ngIf="user.type !== 'dp'" name="contact" size="large" color="{{user.type == 'p' ? 'secondary' : ''}}"></ion-icon
          >
            <ion-icon *ngIf="user.type === 'dp'" name="contact" size="large" color="tertiary"></ion-icon
          ></ion-avatar>
          <ion-label>
            <h5>{{ user.name }}</h5>
            <p>
              Room Number: {{ user.type == 'p' ? user.room : 'N/A' }}
            </p>
            <p *ngIf="user.type === 'dp'">
              User Type: Discharged Patient
            </p>
            <p *ngIf="user.type !== 'dp'">
              User Type: {{ user.type == 'p' ? 'Patient' : 'Nurse' }}
            </p>
            <div *ngIf="editState && userToEdit.id == user.id">
              <form #f="ngForm" (ngSubmit)="update(user)" >
                <ion-list>
                  <ion-item>
                    <ion-input
                      type="string"
                      ngModel
                      name="name"
                      required
                      #uidCtrl="ngModel"
                      [(ngModel)]="user.name"
                    ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-select
                      placeholder="Select Room Number"
                      interface="popover"
                      ngModel
                      name="room"
                      required
                      #roomCtrl="ngModel"
                      [(ngModel)]="user.room"
                    >
                      <ion-select-option
                        *ngFor="let room of roomsList$ | async"
                        value="{{ room.roomNum }}"
                        >{{ room.roomNum }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-button
                      type="submit"
                      color="warning"
                      expand="block"
                      [disabled]="!f.valid"
                      >Update User</ion-button
                    >
                    <ion-button (click)="clearState()" color="dark"
                      >Cancel</ion-button
                    >
                  </ion-item>
                </ion-list>
              </form>
            </div>
          </ion-label>
        </ion-item>
        <ion-item-options side="end" *ngIf="user.type !== 'n'">
          <ion-item-option *ngIf="user.type === 'p'"
            color="secondary"
            (click)="editUser($event, user, slidingItem)"
            size="small"
          >
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option *ngIf="user.type === 'p'" color="primary" (click)="dischargePatient(user)">
            <ion-icon name="hand" slot="start"></ion-icon>
            Discharge
          </ion-item-option>
          <ion-item-option *ngIf="user.type === 'dp'" color="primary" (click)="returnPatient(user)">
            <ion-icon name="clipboard" slot="start"></ion-icon>
            Activate
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ng-template #noUsers>
    <hr />
    <ion-spinner></ion-spinner>
    <h5 text-center>There are no users yet.</h5>
  </ng-template>
</ion-content>
