// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #4d7fff;
  --ion-color-primary-rgb: 77,127,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #4470e0;
  --ion-color-primary-tint: #5f8cff;

  --ion-color-secondary: #70d3a9;
  --ion-color-secondary-rgb: 180,232,221;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #9eccc2;
  --ion-color-secondary-tint: #bceae0;

  --ion-color-tertiary: #a690df;
  --ion-color-tertiary-rgb: 248,205,255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #dab4e0;
  --ion-color-tertiary-tint: #f9d2ff;

  --ion-color-success: #51cb5f;
  --ion-color-success-rgb: 80,158,16;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #468b0e;
  --ion-color-success-tint: #62a828;

  --ion-color-warning: #ffe96a;
  --ion-color-warning-rgb: 255,233,106;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0cd5d;
  --ion-color-warning-tint: #ffeb79;

  --ion-color-danger: #e44a47;
  --ion-color-danger-rgb: 228,74,71;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c9413e;
  --ion-color-danger-tint: #e75c59;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
