<ion-app>
  <ion-menu slot="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Hello, Snir</ion-title>
        <!-- code here the real patient name -->
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/requests" button>
            <ion-icon name="paper-plane"></ion-icon>
            <ion-label>Requests</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1" *ngIf="this.authService.userType !== 'p'">
          <ion-item lines="none" routerLink="/add-patient" button>
            <ion-icon name="person-add"></ion-icon>
            <ion-label>Add Patient</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1" *ngIf="this.authService.userType !== 'p'">
          <ion-item lines="none" routerLink="/manage-users" button>
            <ion-icon name="person-add"></ion-icon>
            <ion-label>Manage Users</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1" *ngIf="this.authService.userType !== 'p'">
          <ion-item lines="none" routerLink="/about" button>
            <ion-icon name="list"></ion-icon>
            <ion-label>Assign Rooms</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/about" button>
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
          <ion-title>Relpationtship</ion-title>
        </ion-toolbar>
      </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
