<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Requests</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment (ionChange)="onFilterUpdate($event)" color="tertiary">
    <ion-segment-button value="all">All Requests</ion-segment-button>
    <ion-segment-button value="completed"
      >Completed Requests</ion-segment-button
    >
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item
            *ngFor="
              let request of (requestsObs | async | filter: status:'status' | sortArray)
            "
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="request.imgUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ request.title }}</h2>
              <p>{{ request.description }}</p>
              <p *ngIf="request.data !== ''">{{ request.date }}</p>
            </ion-label>
            <ion-label
              slot="end"
              text-right
              *ngIf="request.status === 'In progress' && this.segment.value === 'all'"
              color="secondary"
              >In progress</ion-label
            >
            <ion-label
              *ngIf="request.status === 'Completed' && this.segment.value === 'all'"
              color="success"
              slot="end"
              text-right
              >Completed</ion-label
            >
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
