<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all" checked>All Requests</ion-segment-button>
    <ion-segment-button value="archived">Archived Requests</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item-sliding *ngFor="let request of myRequests" #slidingItem>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img [src]="request.imgUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ request.title }}</h2>
                <p>{{ request.description }}</p>
                <ion-text
                  *ngIf="request.status === 'In progress'"
                  color="secondary"
                  >In progress</ion-text
                >
                <ion-text *ngIf="request.status === 'Done'" color="success"
                  >Completed</ion-text
                >
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                *ngIf="request.status === 'In progress'"
                color="warning"
                (click)="onComplete(request.id, slidingItem)"
              >
                <ion-icon name="done-all" slot="icon-only"></ion-icon>
              </ion-item-option>
              <ion-item-option
                *ngIf="request.status === 'Done'"
                color="success"
                (click)="onArchive(request.id, slidingItem)"
              >
                <ion-icon name="archive" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
