<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Requests</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment mode="md" (ionChange)="onFilterUpdate($event)" color="tertiary">
    <ion-segment-button value="progress" mode="md"
      ><ion-label>Pending Requests</ion-label></ion-segment-button
    >
    <ion-segment-button value="completed" mode="md"
      ><ion-label>Completed Requests</ion-label></ion-segment-button
    >
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <div *ngIf="isLoading" text-center>
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div
          text-center
          *ngIf="
            (requestsList | filter: status:'status')?.length <= 0 &&
            status === 'progress'
          "
        >
          <p>
            No Requests found! Please create one first!
          </p>
          <ion-button color="primary" routerLink="/requests/tabs/add-requests"
            >Add Request</ion-button
          >
        </div>
        <div
          text-center
          *ngIf="
            (requestsList | filter: status:'status')?.length <= 0 &&
            status === 'completed'
          "
        >
          <p>
            No Completed Requests yet...
          </p>
        </div>
        <ion-list *ngIf="!isLoading || requestsList?.length > 0">
          <ion-item-sliding
            *ngFor="let request of requestsList | filter: status:'status'"
            #slidingItem
          >
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img [src]="request.imgUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ request.title }}</h2>
                <h5>{{ request.description }}</h5>
                <p *ngIf="request.data !== ''">
                  {{ request.date.toDate() | date: 'dd/MM/yyyy HH:mm':'+3' }}
                </p>
                <ion-text *ngIf="request.status === 'In progress' &&
                this.segment.value === 'progress'" color="primary">
                  {{ request.patientName }}
              </ion-text>
                <ion-text *ngIf="request.status === 'Completed' &&
                this.segment.value === 'completed'" color="primary">
                  {{ request.nurseName }}
                </ion-text>
                <ion-label
                  slot="start"
                  text-right
                  *ngIf="
                    request.status === 'In progress' &&
                    this.segment.value === 'progress'
                  "
                  color="secondary"
                  >In progress</ion-label
                >
                <ion-label
                  *ngIf="
                    request.status === 'Completed' &&
                    this.segment.value === 'completed'
                  "
                  color="success"
                  slot="start"
                  text-right
                  >Completed</ion-label
                >
              </ion-label>
            </ion-item>
            <div *ngIf="request.status !== 'Completed'">
              <ion-item-options
                side="end"
                *ngIf="this.authService.userType !== 'p'"
              >
                <ion-item-option
                  color="secondary"
                  (click)="setAsCompleted(slidingItem, request)" *ngIf="request.status !== 'Completed'"
                >
                  <ion-icon name="done-all" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </div>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
