<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>New Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let request of loadedRequests" size="6" no-padding>
        <ion-card style="min-height: 250px" (click)="addRequest(request)">
          <ion-card-header>
            <ion-card-subtitle>{{ request.title }}</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="request.imgUrl"></ion-img>
          <ion-card-content>
            <p>{{ request.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text color="primary" text-center padding>
    <h5>
      <ion-icon name="help-circle-outline" color="secondary"></ion-icon> Tap on one of the
      requests, to send it to the medical stuff.
    </h5>
  </ion-text>
</ion-content>
